* {
  margin: 0px;
  padding: 0px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  max-height: 801px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper__navigator {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75px;
          flex: 0 0 75px;
  background-color: #000000;
}
.wrapper__nomadlist {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 293px;
          flex: 0 0 293px;
  background-color: rgb(38, 255, 0);
}
.wrapper__center {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #fff;
}
.wrapper__profile {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 293px;
          flex: 0 0 293px;
  background-color: blue;
}

.wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  max-height: 801px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper__navigator {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75px;
          flex: 0 0 75px;
  background-color: #000000;
}
.wrapper__nomadlist {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 293px;
          flex: 0 0 293px;
  background-color: rgb(38, 255, 0);
}
.wrapper__center {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #fff;
}
.wrapper__profile {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 293px;
          flex: 0 0 293px;
  background-color: blue;
}

.navigator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
}
.navigator__dotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.navigator__icoms {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*justify-content: center;*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.circui {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.red {
  background-color: red;
}

.yelow {
  background: yellow;
}

.gren {
  background: green;
}

.bell {
  width: 14.5px;
  height: 15.5px;
  position: relative;
}

.redpointer {
  width: 4px;
  height: 4px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: -2px;
}

.search {
  width: 241px;
  height: 33px;
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 0 15px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search input, .search button {
  outline: none;
  border: none;
}
.search input:focus::-webkit-input-placeholder {
  color: transparent;
}
.search input:focus::-moz-placeholder {
  color: transparent;
}
.search input:focus:-ms-input-placeholder {
  color: transparent;
}
.search input:focus::-ms-input-placeholder {
  color: transparent;
}
.search input:focus::placeholder {
  color: transparent;
}
.search button {
  padding-top: 2px;
}
.search button:hover {
  cursor: pointer;
}

.data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}
.data hr {
  height: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
}
.data div {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.card__title {
  display: inline-block;
}
.card__picture {
  margin: 20px;
}
.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.chat header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
}
.chat main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.chat footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
}

.chat__header {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.chat__channel {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 5px;
}

.chat__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.chat__info .chat__visit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.chat__info .chat__search {
  -ms-flex-item-align: center;
      align-self: center;
}
.chat__info .chat__notification {
  -ms-flex-item-align: center;
      align-self: center;
}
.chat__info .chat__extention {
  -ms-flex-item-align: center;
      align-self: center;
}

.chat__main {
  padding: 18px 25px;
}
.chat__main > * {
  margin-bottom: 10px;
}
.chat__main *:last-child {
  margin-bottom: 0;
}

.chat__footer {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  background-color: blueviolet;
}

.icon {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #E8E8EB;
}/*# sourceMappingURL=style.css.map */