@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* переменная для чата и напраувляющей для скрола */
.footer__messagein textarea, .chat {
  overflow-y: auto; /* шаблон scroll*/
  background-color: #ffffff;
}
.footer__messagein textarea::-webkit-scrollbar, .chat::-webkit-scrollbar {
  width: 15px;
}
.footer__messagein textarea::-webkit-scrollbar-track, .chat::-webkit-scrollbar-track {
  background-color: #ffffff;
}
.footer__messagein textarea::-webkit-scrollbar-thumb, .chat::-webkit-scrollbar-thumb {
  width: 7px;
  height: 141px;
  border-radius: 60px;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(30%, #ffffff), color-stop(grey), color-stop(30%), color-stop(grey), color-stop(70%), color-stop(70%, #ffffff), to(#ffffff));
  background: linear-gradient(90deg, #ffffff 0%, #ffffff 30%, grey, 30%, grey, 70%, #ffffff 70%, #ffffff 100%);
}
.footer__messagein textarea::-webkit-scrollbar-thumb:hover, .chat::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(30%, #ffffff), color-stop(rgb(66, 66, 66)), color-stop(30%), color-stop(rgb(66, 66, 66)), color-stop(70%), color-stop(70%, #ffffff), to(#ffffff));
  background: linear-gradient(90deg, #ffffff 0%, #ffffff 30%, rgb(66, 66, 66), 30%, rgb(66, 66, 66), 70%, #ffffff 70%, #ffffff 100%);
}

.wrapper {
  margin: 0 auto;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  max-height: 801px;
  background: url(../img/substrate.jpg);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Lato;
}
.wrapper a {
  text-decoration: none;
}
.wrapper__navigator {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75px;
          flex: 0 0 75px;
  background-color: #000000;
}
.wrapper__nomadlist {
  padding: 26px 35px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 293px;
          flex: 0 0 293px;
  background-color: rgba(0, 0, 0, 0.65);
  overflow-y: scroll;
  cursor: pointer;
  /* ---------------------------------------------- scroll*/
}
.wrapper__nomadlist::-webkit-scrollbar {
  width: 15px;
}
.wrapper__nomadlist::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.65);
}
.wrapper__nomadlist::-webkit-scrollbar-thumb {
  width: 7px;
  height: 141px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.65)), color-stop(30%, rgba(0, 0, 0, 0.65)), color-stop(grey), color-stop(30%), color-stop(grey), color-stop(70%), color-stop(70%, rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 30%, grey, 30%, grey, 70%, rgba(0, 0, 0, 0.65) 70%, rgba(0, 0, 0, 0.65) 100%);
  border-radius: 20px;
}
.wrapper__nomadlist::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.65)), color-stop(30%, rgba(0, 0, 0, 0.65)), color-stop(#e6f0e8), color-stop(30%), color-stop(#dce2dd), color-stop(70%), color-stop(70%, rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 30%, #e6f0e8, 30%, #dce2dd, 70%, rgba(0, 0, 0, 0.65) 70%, rgba(0, 0, 0, 0.65) 100%);
}
.wrapper__center {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper__profile {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 293px;
          flex: 0 0 293px;
  background-color: rgba(225, 225, 225, 0.8);
}

.navigator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
}
.navigator__dotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.navigator__icoms {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*justify-content: center;*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.circui {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.red {
  background-color: red;
}

.yelow {
  background: yellow;
}

.gren {
  background: green;
}

/* переменная цвета текста Nomad List кроме белого*/
.nomadlist {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #B5B5B5;
  cursor: auto;
}
.nomadlist ul {
  list-style: none;
}
.nomadlist li {
  margin-bottom: 12px;
  padding-left: 13px;
}
.nomadlist a {
  color: #B5B5B5;
}
.nomadlist .subtit {
  margin-bottom: 22px;
}
.nomadlist .activ {
  display: block;
  width: 100%;
  height: 30px;
  background-color: grey;
  color: #FFFFFF;
  border-radius: 5px;
}

/*-----------------------------------------------*/
.nomadlist__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nomadlist__name {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nomadlist__name:after {
  content: "";
  width: 19px;
  height: 19px;
  background-color: blue;
  background-image: url(../img/nomadlist/arrow.svg) 0 0 no-repeat;
}

/*.nomadlist__arrows {}*/
/*------------------------------------------------*/
.nomadlist__treads {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nomadlist__treads::before {
  content: "";
  width: 19px;
  height: 19px;
  background-color: blue;
  background-image: url(../img/nomadlist/Icon8.svg) 0 0 no-repeat;
}

.nomadlist__chanels {
  margin-bottom: 17px;
  /* li {
      display: none;
  }
  span:active ~ li {display: block;

  }*/
}
.nomadlist__chanels .subtit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
}
.nomadlist__chanels .subtit::after {
  content: "82";
}

.nomadlist__friends .subtit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
}
.nomadlist__friends .subtit::after {
  content: "82";
}

.persona {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.persona .circle {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border-color: #ffffff;
}

.bell {
  width: 14.5px;
  height: 15.5px;
  position: relative;
}

.redpointer {
  width: 4px;
  height: 4px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: -2px;
}

.search {
  width: 241px;
  height: 33px;
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 0 15px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search input, .search button {
  outline: none;
  border: none;
}
.search input:focus::-webkit-input-placeholder {
  color: transparent;
}
.search input:focus::-moz-placeholder {
  color: transparent;
}
.search input:focus:-ms-input-placeholder {
  color: transparent;
}
.search input:focus::-ms-input-placeholder {
  color: transparent;
}
.search input:focus::placeholder {
  color: transparent;
}
.search button {
  padding-top: 2px;
}
.search button:hover {
  cursor: pointer;
}

.data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}
.data hr {
  height: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
}
.data div {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.card__title {
  display: inline-block;
}
.card__picture {
  margin: 20px;
}
/*@import "variabl";*/
.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*overflow: hidden;
  background-color: $colorchat;
   &::-webkit-scrollbar {
       width: 7px;

     }
     &::-webkit-scrollbar-track {
       background-color: $colorchat;
     }
     &::-webkit-scrollbar-thumb {
       background: rgba(0, 0, 0, 0.2);
       border-radius: 4px;
     }
     &::-webkit-scrollbar-thumb:hover {
       background: rgba(0, 0, 0, 0.5);
     }*/
}
.chat header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
}
.chat main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.chat footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
}

.chat__header {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.chat__channel {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 5px;
}

.chat__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.chat__info .chat__visit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.chat__info .chat__search {
  -ms-flex-item-align: center;
      align-self: center;
}
.chat__info .chat__notification {
  -ms-flex-item-align: center;
      align-self: center;
}
.chat__info .chat__extention {
  -ms-flex-item-align: center;
      align-self: center;
}

.chat__main {
  padding: 18px 25px;
}
.chat__main > * {
  margin-bottom: 10px;
}
.chat__main *:last-child {
  margin-bottom: 0;
}

.chat__footer {
  padding: 10px 25px 10px 25px;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__attach {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
}

input[type=file] {
  display: none;
}

.footer__voise {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
}

.footer__messagein {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer__messagein textarea {
  outline: none;
  border: none;
  resize: none;
  width: 100%;
  height: 100%;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.profile a {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.but {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3577EF;
  color: #ffffff;
  border-radius: 4px;
}

.profile__foto img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile__info {
  padding: 25px 25px 30px 25px;
}
.profile__info .name {
  margin-bottom: 20px;
}
.profile__info h3 {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.profile__info .presence {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: green;
  border-radius: 50%;
}
.profile__info p {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #5F6164;
}
.profile__info .socialmedia {
  margin-bottom: 20px;
}
.profile__info .profile__buts {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.profile__info .profile__buts .profile__big-but {
  width: 133px;
  height: 25px;
  margin-right: 3px;
}
.profile__info .profile__buts .profile__smoll-but {
  width: 25px;
  height: 25px;
}

.profile__contacts {
  margin-bottom: 10px;
}
.profile__contacts:last-child {
  margin-bottom: 0px;
}

.socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
}

.icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #E8E8EB;
}/*# sourceMappingURL=style.css.map */