.card {
   display: flex;
   gap: 12px;
    &__foto {
                 
    }

    &__icon {
        
    }

    &__title {
        display: inline-block;
    }

    &__time {}

    &__text {}

    &__picture {
        margin: 20px;
    }

    &__emodzy {}
}