@import "bell";
@import "search";
@import "data";

.chat {}

.chat__header {
    height: 60px;
    padding: 10px;
    display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.chat__channel {
    flex: 1 1 50%;
    display: inline-flex;
    gap: 5px;
}

.chat__info {
    flex: 1 1 50%;
    display: flex;
    justify-content: space-around;
}

.chat__visit {
   display: flex;
   align-items: center;
   gap: 5px;
}

.chat__search {
    align-self: center;
}

.chat__notification {
    align-self: center;
}

.chat__extention {
    align-self: center;
}

.chat__main {}

.chat__card-jeshuastoun {}

.card {}

.chat__data {}

.data {}

.chat__card-haroldadams {}

.chat__card-aadalaine {}

.chat__card-nalahester {}

.chat__card-ramonbateman {}

.chat__footer {}

.chat__communic {}

.chat__attach {}

.chat__voise {}

.chat__messagein {}

.chat__emoji {}