$colortext: #B5B5B5;
/* переменная цвета текста Nomad List кроме белого*/

.nomadlist {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: $colortext;
    cursor: auto;

    ul {
        list-style: none;
    }

    li {
        margin-bottom: 12px;
        padding-left: 13px;
    }



    .subtit {
        margin-bottom: 22px;
    }


}

/*-----------------------------------------------*/
.nomadlist__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    & > div {
        display: flex;
        gap: 7px;

    }
}

.nomadlist__name {
    
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;

       
}

.nomadlist__arrows {}

.nomadlist__settings {
    
    
    
}

/*------------------------------------------------*/

.nomadlist__treads {
    margin-bottom: 30px;
    display: block;
    position: relative;

    &::before {
        content: "";

        width: 19px;
        height: 19px;
        position: absolute;
        left: -20px;
       
        background: url(../img/nomadlist/treads.svg) 0 0 no-repeat;

    }
}

.nomadlist__chanels {
    margin-bottom: 17px;

    a {
        display: flex;
        align-items: center;
        padding-left: 13px;
        color: $colortext;


        height: 30px;
        /* background-color: grey;*/
        border-radius: 5px;

    }

    /*------- Активная ссылка li  -*/
    .activ {

        display: flex;

        height: 30px;
        background-color: grey;
        color: #ffffff;
        border-radius: 5px;

    }


    .subtit {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;

        &::after {
            content: "82";
        }
    }


    /* li {
        display: none;
    }
    span:active ~ li {display: block;
        
    }*/
}

.nomadlist__friends {
    a {
        color: $colortext ;
    }

    .subtit {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;

        &::after {
            content: "82";

        }

    }

}

.persona {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 10px;

.foto {
    border-radius: 4px;
}

    .circle {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        border-color: #0fa70f;
    }

}