.wrapper__profile {}

.profile {
    display: flex;
    flex-direction: column;

    a {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
}

.but {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #3577EF;
    
    color: #ffffff;
    border-radius: 4px;

}

.profile__foto {}

.profile__foto img {
    width: 100%;
    object-fit: cover;
}

.profile__info {
    padding: 25px 25px 30px 25px;
    .name {
        
        margin-bottom: 20px;
    }
    h3 {
        display: inline-block;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
    }

    .presence {
        display: inline-block;
        width: 8px;
        height: 8px;
        background-color: green;
        border-radius: 50%;
        
   }

    p {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #5F6164;

    }

   

   

    .socialmedia {
        margin-bottom: 20px;
    }

    .profile__buts {
        margin-bottom: 20px;
        display: flex;

        .profile__big-but {
            width: 133px;
            height: 25px;
            margin-right: 3px;
        }

        .profile__smoll-but {
            width: 25px;
            height: 25px;

        }

    }

}

.profile__contacts {
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0px;
    }
}





.socialmedia {
    display: flex;
    gap: 6px;

}

.icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #E8E8EB;

}



.profile__contacts {}