.wrapper__profile {
}
.profile {
}
.profile__foto {
}
.profile__info {
}
.socialmedia {
}
.icon {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color:#E8E8EB;
}
.profile__buts {
}
.profile__big-but {
}
.but {
}
.profile__smoll-but {
}
.profile__contacts {
}