.search {
   width: 241px; 
   height: 33px;
   border: 0.5px solid rgba(0, 0, 0, 0.25);;
   border-radius: 5px;
   padding: 0 15px;
   background-color: #fff;
   display: flex;
   justify-content: space-between;
   align-items: center;

   
  
   input, button {
      outline: none;
      border: none;
      
   }
   input:focus::placeholder {
     color: transparent;
      
   }
   button {
    padding-top: 2px;
    &:hover {
      cursor: pointer;
   }
   }
}