$colorchat:#ffffff; /* переменная для чата и напраувляющей для скрола */
$colornomadlist:rgba(000, 000, 000, 0.65);

%scrol {
    
    overflow-y: auto;                            /* шаблон scroll*/
    background-color: $colorchat;
    &::-webkit-scrollbar {
        width: 15px;
        
      }
      &::-webkit-scrollbar-track {
        background-color: $colorchat;
      }
      &::-webkit-scrollbar-thumb {
        width: 7px;
        height: 141px;
        border-radius: 60px;
        background:  linear-gradient(90deg,  $colorchat 0%, $colorchat 30%, grey, 30%,  grey, 70%, $colorchat 70%, $colorchat 100%);
                
    }
       
      &::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.5);
        background:  linear-gradient(90deg,  $colorchat 0%, $colorchat 30%, rgb(66, 66, 66), 30%,  rgb(66, 66, 66), 70%, $colorchat 70%, $colorchat 100%);
      }
}
